<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XX后台管理系统</title>

    <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="/css/user.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/js/logout.js"></script>


</head>

<body>

    <div class="container">

        <%- include('./common/head.ejs') %>

        <div class="main">

            <%- include('./common/menu.ejs') %>

            <div class="body">

                <div class="b-top">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入用户名">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">确认</button>
                    </form>
                </div>

                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>用户名</th>
                                <th>年龄</th>
                                <th>性别</th>
                                <th>是否为管理员</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<users.length; i++){ %>
                            <tr>
                                <th scope="row">
                                    <%= i+1 %>
                                </th>
                                <td>
                                    <%= users[i].uName %>
                                </td>
                                <td>
                                    <%= users[i].age %>
                                </td>
                                <td>
                                    <%= users[i].sex %>
                                </td>
                                <td>
                                    <%= users[i].isAdmin ? '是' : '否' %>
                                </td>
                                <td>
                                    <% if(!users[i].isAdmin){ %>
                                    <a href='/deleteUser?_id=<%= users[i]._id %>'>删除</a>
                                    <% } else { %>
                                    不能删管理员
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>

                        </tbody>
                    </table>
                </div>

                <div class="b-bottom">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="/users?currentPage=<%= currentPage-1 < 1 ? 1 : currentPage-1 %>&pageSize=<%= pageSize %>"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% for(var i=0; i<page; i++){ %>
                            <li class="<%= i+1 === currentPage ? 'active' : '' %>"><a href="/users?currentPage=<%= i+1 %>&pageSize=<%= pageSize %>">
                                    <%= i+1 %></a></li>
                            <% } %>
                            <li>
                                <a href="/users?currentPage=<%= currentPage+1 > page ? page : currentPage+1 %>&pageSize=<%= pageSize %>"
                                    aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <%- include('./common/foot.ejs') %>

    </div>

</body>

</html>